.comment-item {
    background-color: #c9b4e7;
    max-width: 500px;
    border-radius: 15px;
    padding: 8px 16px;
    margin-bottom: 16px;
}

.creator-cmt {
    font-size: 25px;
    font-weight: bold;
    color: rgb(33, 11, 11);
    text-decoration: none;
    margin: 0;
}

.divider {
    width: 100vw;
    height: 2px;
    background-color: rgb(86, 18, 49);
}

img {
    max-width: 700px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 16px;
}